<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96385477704-5le0mf3rjs2a7j924ivs3sgq62vl69od.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96385477704-5le0mf3rjs2a7j924ivs3sgq62vl69od</string>
	<key>API_KEY</key>
	<string>AIzaSyASKKBiNRhL2aqAkd4Fi9_G68Sk_oxf0xE</string>
	<key>GCM_SENDER_ID</key>
	<string>96385477704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.socialfaculty.AiClopedia</string>
	<key>PROJECT_ID</key>
	<string>chat-gpt-for-students</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-gpt-for-students.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96385477704:ios:20c8b8206b0af8a57f7c7d</string>
</dict>
</plist>